
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Views
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a (click)=onClick0()>Case 0</a>
      <a (click)=onClick1()>Case 1</a>
      <a (click)=onClick2()>Case 2</a>
      <a (click)=onClick3()>Case 3</a>
      <a (click)=onClick4()>Case 4</a>
      <a (click)=onClick5()>Case 5</a>
      <a>Live Data</a>
    </div>
    <button class="dropbtn1" *ngIf="stocks[0].change === 1">Case 0</button>
    <button class="dropbtn1" *ngIf="stocks[0].change === 1.1">Case 1</button>
    <button class="dropbtn1" *ngIf="stocks[0].change === 0.9">Case 2</button>
    <button class="dropbtn1" *ngIf="stocks[0].change === 1.2">Case 3</button>
    <button class="dropbtn1" *ngIf="stocks[0].change === 0.8">Case 4</button>
    <button class="dropbtn1" *ngIf="stocks[0].change === 2">Case 5</button>
  </div>
</div>
<p></p>
<button data-target="#fu" data-toggle="modal" class="btn btn-info">Buy</button>
<p></p>
<table class="table">
  <tr class="warning">
    <td >Total Purchase Price: {{purchasePriceTotal()}}</td>
    <td>Total Sell Costs: {{totalSellCosts()}}</td>
  </tr>
  <tr class="info">
    <td>Gross Present Value:{{grossPresentValue()}}</td>
    <td>Gross Present Value after sell costs: {{grossPresentValueSellCosts()}}</td>
  </tr>
</table>

<div class="table-responsive">
  <table class="table table-striped" cellpadding="2" cellspacing="7" style="width:100%">
    <th>Company</th>
    <th>Symbol</th>
    <th>Exchange</th>
    <th>Purchase Price</th>
    <th>Current Price</th>
    <th>Change</th>
    <th>Purchase Date</th>
    <th>Sell Date</th>
    <th>Quantity</th>
    <th>Total Value</th>
    <th>Current Gain/Loss</th>
    <th>Sell Costs</th>
    <tr *ngFor="let stock of stocks">
      <td>{{stock.company}}</td>
      <td>{{stock.symbol}}</td>
      <td>{{stock.exchange}}</td>
      <td>{{stock.purchasePrice}}</td>
      <td>{{stock.currentPrice}}</td>
      <td>{{stock.change}}</td>
      <td>{{stock.purchaseDate}}</td>
      <td>{{stock.sellDate}}</td>
      <td>{{stock.quantity}}</td>
      <td>{{stock.totalValue}}</td>
      <td>{{stock.gainLoss - stock.sellCost}}</td>
      <td>{{stock.sellCost}}</td>
      <td><button class="btn btn-warning" (click)="sellStock(stock.symbol, stock.purchaseDate)">Sell Line</button></td>
    </tr>
  </table>
</div>

<p>Cash balance: {{ cash }}</p>

  <div class="modal fade" id="fu" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Buy Stocks</h4>
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          <form id="buy">
            <input value="Symbol" #symbol>
            <input value="quantity" #quantity>
            <input type="button" name="submit" value="Submit" (click)="buyStock(symbol.value, quantity.value)">
          </form>
        </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"  data-dismiss="modal">Close</button>
  </div>
      </div>
    </div>
  </div>
